
    <script src="js/janrain-init.js"></script>
    <script type="text/javascript">
        // --- page-specific settings ------------------------------------------
        janrain.settings.capture.flowName = 'lilly_pro_uk';

        // --- define event handlers and start the janrain ui ------------------
        function janrainCaptureWidgetOnLoad() {
            janrain.events.onCaptureLoginSuccess.addHandler(function(result) {
                window.location = 'home';
            });

            janrain.events.onCaptureSessionFound.addHandler(function(result) {
                window.location = 'home';
            });

            // register custom client-side valididators
            janrain.capture.ui.registerFunction('passwordValidation', janrainCustomPasswordValidation);
            janrain.capture.ui.registerFunction('postalCodeValidation', janrainCustomPostalCodeValidation);

            // should be the last line in janrainCaptureWidgetOnLoad()
            janrain.capture.ui.start();
        }
    </script>


    <!-- Capture widget screens -->
    <div style="display:none;" id="signIn">
        <div class="capture_header">
            <h1>{* page_signin_signin_header *}</h1>
        </div>
        <div class="capture_signin">
            <h2>{* page_signin_signin_social_header *}</h2>
            {* loginWidget *} <br />
        </div>
        <div class="capture_backgroundColor">
            <div class="capture_signin">
                <h2>{* page_signin_signin_header2 *}</h2>
                {* #userInformationForm *}
                    {* traditionalSignIn_emailAddress *}
                    {* traditionalSignIn_password *}
                    <div class="capture_form_item">
                        <a href="#" data-capturescreen="forgotPassword">{* page_signin_signin_forgot *}</a>
                    </div>
                    <div class="capture_rightText">
                        {* traditionalSignIn_signInButton *}
                    </div>
                {* /userInformationForm *}
            </div>
        </div>
    </div>
    <div style="display:none;" id="returnSocial">
        <div class="capture_header">
            <h1>{* page_signin_returnSocial_header *}</h1>
        </div>
        <div class="capture_signin">
            <h2>{* page_signin_returnSocial_header2 *} {* welcomeName *}!</h2>
            {* loginWidget *}
            <div class="capture_centerText switchLink"><a href="#" data-cancelcapturereturnexperience="true">{* page_signin_returnSocial_useAnother *}</a></div>
        </div>
    </div>
    <div style="display:none;" id="returnTraditional">
        <div class="capture_header">
            <h1>{* page_signin_returnTraditional_header *}</h1>
        </div>
        <h2 class="capture_centerText"><span id="traditionalWelcomeName">{* page_signin_returnTraditional_header2 *}</span></h2>
        <div class="capture_backgroundColor">
            {* #userInformationForm *}
                {* traditionalSignIn_emailAddress *}
                {* traditionalSignIn_password *}
                <div class="capture_form_item capture_rightText">
                    {* traditionalSignIn_signInButton *}
                </div>
            {* /userInformationForm *}
            <div class="capture_centerText switchLink"><a href="#" data-cancelcapturereturnexperience="true">{* page_signin_returnTraditional_useAnother *}</a></div>
        </div>
    </div>
    <div style="display:none;" id="socialRegistration">
        <div class="capture_header">
            <h1>{* page_signin_socialRegistration_header *}</h1>
        </div>
        <h2>{* page_signin_socialRegistration_header2 *}</h2>
        {* #socialRegistrationForm *}
            {* socialRegistration_firstName *}
            {* socialRegistration_lastName *}
            {* socialRegistration_emailAddress *}
            {* page_signin_socialRegistration_terms_label_1 *} <a href="#">{* page_signin_socialRegistration_terms_link *}</a> {* page_signin_socialRegistration_terms_label_2 *} <a href="#">{* page_signin_socialRegistration_privacy_link *}</a>.
            <div class="capture_footer">
                <div class="capture_left">
                    {* backButton *}
                </div>
                <div class="capture_right">
                    {* socialRegistration_signInButton *}
                </div>
            </div>
        {* /socialRegistrationForm *}
    </div>
    <div style="display:none;" id="forgotPassword">
        <div class="capture_header">
            <h1>{* page_signin_forgotPassword_header *}</h1>
        </div>
        <h2>{* page_signin_forgotPassword_header2 *}</h2>
        {* #forgotPasswordForm *}
            {* traditionalSignIn_emailAddress *}
            <div class="capture_footer">
                <div class="capture_left">
                    {* backButton *}
                </div>
                <div class="capture_right">
                    {* forgotPassword_sendButton *}
                </div>
            </div>
        {* /forgotPasswordForm *}
    </div>
    <div style="display:none;" id="forgotPasswordSuccess">
        <div class="capture_header">
            <h1>{* page_signin_forgotPasswordSuccess_header *}</h1>
        </div>
            <p>{* page_signin_forgotPasswordSuccess_message *}</p>
        <div class="capture_footer">
            <a href="#" data-capturescreen="signIn" class="capture_btn capture_primary">{* page_signin_forgotPasswordSuccess_signin *}</a>
        </div>
    </div>
    <div style="display:none;" id="mergeAccounts">
        {* mergeAccounts *}
    </div>
    <div style="display:none;" id="traditionalAuthenticateMerge">
        <div class="capture_header">
            <h1>{* page_signin_traditionalAuthenticateMerge_header *}</h1>
        </div>
        <div class="capture_signin">
            {* #tradAuthenticateMergeForm *}
                {* traditionalSignIn_emailAddress *}
                {* mergePassword *}
                <div class="capture_footer">
                    <div class="capture_left">
                        {* backButton *}
                    </div>
                    <div class="capture_right">
                        {* traditionalSignIn_signInButton *}
                    </div>
                </div>
             {* /tradAuthenticateMergeForm *}
        </div>
    </div>
    <div style="display:none;" id="userStatusPostLogin">
        {* page_access_not_active *}
    </div>
    <div style="display:none;" id="countryPostLogin">
        {* page_access_wrong_country *}
    </div>
    <div style="display:none;" id="professionalGroupPostLogin">
        {* page_access_wrong_group *}
    </div>
