<div class="col-xs-12 col-sm-8 col-md-6 text-center ng-scope">
    <div class="panel panel-default blackPanel">
        <div class="panel-body" style="position:relative;">
            <div class="col-xs-1 col-sm-2"></div>
            <div class="col-xs-12 col-sm-8">
                <!-- Initial screen to be shown to users -->
                <div style="display: block;" id="signIn" class="janrain-capture-ui capture-ui-content capture_screen_container" data-capturescreenname="signIn" data-captureventadded="true">
                    <!-- Signin portion of initial screen -->
                    <div class="capture_header">
                        <div style="font-size:18px;">Please Sign In</div>
                    </div>
                    <div class="capture_signin">
                        <div id="capture_signIn_login_widget" class="login_widget capture_login_widget" data-capturefield="undefined"><div id="janrainEngageEmbed" style="display: block;"><div class="janrainContent" style="width: 135px; height: 40px; padding-left: 5px; padding-right: 5px; box-sizing: content-box; background-color: rgb(255, 255, 255); border: 1px solid rgb(255, 255, 255); border-radius: 0px; overflow: hidden; position: relative;"><div id="janrainView"><div id="janrainProviderPages" style="padding-top: 5px; left: 5px; position: absolute; width: 270px;"><div class="janrainPage" pageindex="0"><ul class="providers" id="janrainProviders_0" style="list-style-type: none; margin: 0px; padding: 0px;"><li id="janrain-lilly" role="button" style="list-style: none; float: left; height: 30px; margin-top: 0px; margin-right: 5px; width: 30px; margin-bottom: 5px; position: relative; cursor: pointer; white-space: nowrap; overflow: hidden; background: transparent;"><a tabindex="1" class="janrain-provider-icon-32 janrain-provider-icon-bg janrain-provider-icon-lilly" href="javascript:void(0);" style="margin-top: 0px; text-decoration: none; display: block;"><span style="display: inline-block; text-indent: -9999px;">lilly</span></a></li></ul></div></div></div></div></div></div>
                    </div>
                    <div class="capture_backgroundColor">
                        <div class="capture_signin">
                            <form id="capture_signIn_userInformationForm" name="userInformationForm" data-capturefield="userInformationForm" action="https://elililly-dev.janraincapture.com/widget/traditional_signin.jsonp" class="capture_form capture_userInformationForm" method="POST" novalidate="novalidate" data-transactionid="uiauudutmfjeh0qamfhffdgn9hh9sxh71w0z18qb" target="captureIFrame_uiauudutmfjeh0qamfhffdgn9hh9sxh71w0z18qb" accept-charset="UTF-8" next="{&quot;noop&quot;:&quot;&quot;}"><div id="capture_signIn_userInformationForm_defaultSavedProfileMessage"></div><div id="capture_signIn_userInformationForm_errorMessages"></div><input id="capture_signIn_utf8" data-capturefield="undefined" value="✓" type="hidden" class="capture_utf8" name="utf8"><input id="capture_signIn_screen_uiauudutmfjeh0qamfhffdgn9hh9sxh71w0z18qb" data-capturefield="undefined" value="signIn" type="hidden" class="capture_screen_uiauudutmfjeh0qamfhffdgn9hh9sxh71w0z18qb" name="capture_screen"><input id="capture_signIn_js_version_uiauudutmfjeh0qamfhffdgn9hh9sxh71w0z18qb" data-capturefield="undefined" value="7ce15e1" type="hidden" class="capture_js_version_uiauudutmfjeh0qamfhffdgn9hh9sxh71w0z18qb" name="js_version"><input id="capture_signIn_transactionId_uiauudutmfjeh0qamfhffdgn9hh9sxh71w0z18qb" data-capturefield="undefined" value="uiauudutmfjeh0qamfhffdgn9hh9sxh71w0z18qb" type="hidden" class="capture_transactionId_uiauudutmfjeh0qamfhffdgn9hh9sxh71w0z18qb" name="capture_transactionId"><input id="capture_signIn_form_uiauudutmfjeh0qamfhffdgn9hh9sxh71w0z18qb" data-capturefield="undefined" value="userInformationForm" type="hidden" class="capture_form_uiauudutmfjeh0qamfhffdgn9hh9sxh71w0z18qb" name="form"><input id="capture_signIn_flow_uiauudutmfjeh0qamfhffdgn9hh9sxh71w0z18qb" data-capturefield="undefined" value="lilly_gccp" type="hidden" class="capture_flow_uiauudutmfjeh0qamfhffdgn9hh9sxh71w0z18qb" name="flow"><input id="capture_signIn_client_id_uiauudutmfjeh0qamfhffdgn9hh9sxh71w0z18qb" data-capturefield="undefined" value="5dkmgbp5f8rbg9gbs5nmxp7jd6term77" type="hidden" class="capture_client_id_uiauudutmfjeh0qamfhffdgn9hh9sxh71w0z18qb" name="client_id"><input id="capture_signIn_redirect_uri_uiauudutmfjeh0qamfhffdgn9hh9sxh71w0z18qb" data-capturefield="undefined" value="http://localhost/" type="hidden" class="capture_redirect_uri_uiauudutmfjeh0qamfhffdgn9hh9sxh71w0z18qb" name="redirect_uri"><input id="capture_signIn_response_type_uiauudutmfjeh0qamfhffdgn9hh9sxh71w0z18qb" data-capturefield="undefined" value="token" type="hidden" class="capture_response_type_uiauudutmfjeh0qamfhffdgn9hh9sxh71w0z18qb" name="response_type"><input id="capture_signIn_flow_version_uiauudutmfjeh0qamfhffdgn9hh9sxh71w0z18qb" data-capturefield="undefined" value="20160926172109962983" type="hidden" class="capture_flow_version_uiauudutmfjeh0qamfhffdgn9hh9sxh71w0z18qb" name="flow_version"><input id="capture_signIn_settings_version_uiauudutmfjeh0qamfhffdgn9hh9sxh71w0z18qb" data-capturefield="undefined" value="" type="hidden" class="capture_settings_version_uiauudutmfjeh0qamfhffdgn9hh9sxh71w0z18qb" name="settings_version"><input id="capture_signIn_locale_uiauudutmfjeh0qamfhffdgn9hh9sxh71w0z18qb" data-capturefield="undefined" value="en-US" type="hidden" class="capture_locale_uiauudutmfjeh0qamfhffdgn9hh9sxh71w0z18qb" name="locale"><input id="capture_signIn_recaptcha_version_uiauudutmfjeh0qamfhffdgn9hh9sxh71w0z18qb" data-capturefield="undefined" value="1" type="hidden" class="capture_recaptcha_version_uiauudutmfjeh0qamfhffdgn9hh9sxh71w0z18qb" name="recaptchaVersion">
                            <div id="capture_signIn_form_item_traditionalSignIn_emailAddress" class="capture_form_item capture_email capture_form_item_traditionalSignIn_emailAddress" data-capturefield="undefined"><label for="capture_signIn_traditionalSignIn_emailAddress">Email address</label><input id="capture_signIn_traditionalSignIn_emailAddress" data-capturefield="traditionalSignIn_emailAddress" value="" type="email" class="capture_traditionalSignIn_emailAddress capture_required capture_text_input" placeholder="Email address" name="traditionalSignIn_emailAddress" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;);" autocomplete="off"><div class="capture_tip" style="display:none;"></div><div class="capture_tip_validating" data-elementname="traditionalSignIn_emailAddress">Validating</div><div class="capture_tip_error" data-elementname="traditionalSignIn_emailAddress"></div></div>
                            <div id="capture_signIn_form_item_traditionalSignIn_password" class="capture_form_item capture_password capture_form_item_traditionalSignIn_password" data-capturefield="undefined"><label for="capture_signIn_traditionalSignIn_password">Password</label><input id="capture_signIn_traditionalSignIn_password" data-capturefield="traditionalSignIn_password" value="" type="password" class="capture_traditionalSignIn_password capture_required capture_text_input" placeholder="Password" name="traditionalSignIn_password" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;);" autocomplete="off"><div class="capture_tip" style="display:none;"></div><div class="capture_tip_validating" data-elementname="traditionalSignIn_password">Validating</div><div class="capture_tip_error" data-elementname="traditionalSignIn_password"></div></div>
                            <div class="capture_form_item">
                                <a href="javascript:void(0)" data-capturescreen="forgotPassword">Forgot your password?</a>
                            </div>
                            <div class="capture_form_item">
                                <button id="capture_signIn_traditionalSignIn_signInButton" class="capture_secondary capture_traditionalSignIn_signInButton capture_btn capture_primary" type="submit" data-capturefield="traditionalSignIn_signInButton" value="Sign In" name="traditionalSignIn_signInButton"><span class="janrain-icon-16 janrain-icon-key"></span> Sign In</button>
                            </div>
                            <div>
                                <a href="javascript:void(0)" onclick="showRegistrationScreen()">Create a New Account</a>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- return screen for users who last logged in with social account -->
                <div style="display:none;" id="returnSocial">
                    <div class="capture_header">
                        <h1>{* page_signin_returnSocial_header *}</h1>
                    </div>
                    <div class="capture_signin">
                        <h2>{* page_signin_returnSocial_header2 *} {* welcomeName *}!</h2>
                        {* loginWidget *}
                        <div class="capture_centerText switchLink"><a href="#" data-cancelcapturereturnexperience="true">{* page_signin_returnSocial_useAnother *}</a></div>
                    </div>
                </div>
                <!-- return screen for users who last logged in with traditional account -->
                <div style="display:none;" id="returnTraditional">
                    <h2 class="capture_centerText"><span id="traditionalWelcomeName">{* page_signin_returnTraditional_header2 *}</span></h2>
                    <div class="capture_backgroundColor">
                        {* #userInformationForm *}
                        {* traditionalSignIn_emailAddress *}
                        {* traditionalSignIn_password *}
                        <div class="capture_form_item capture_rightText">
                            {* traditionalSignIn_signInButton *}
                        </div>
                        {* /userInformationForm *}
                        <div class="capture_centerText switchLink"><a href="javascript:void(0)" data-cancelcapturereturnexperience="true">{* page_signin_returnTraditional_useAnother *}</a></div>
                    </div>
                </div>

                <!-- registration screen for user to register with a traditional account -->
                <div style="display:none;" id="traditionalRegistration">
                    <div class="capture_header">
                        <div style="font-size:18px;">{* page_signin_createAccount *}</div>
                        {* #registrationForm *}
                        {* registration_country *}
                        {* registration_emailAddress *}
                        {* registration_password *}
                        {* registration_passwordConfirm *}
                        <div class="capture_left" style="padding-left: 5px;">
                            <a data-toggle="modal" href="/#/" data-target="#privacy-policy" translate="" class="ng-scope"> Privacy Policy</a>
                        </div>
                        {* termsAndCondition_termsAndConditions *}
                        {* termsAndConditionsVersion *}
                        {* managedByClient *}
                        <div class="capture_footer">
                            <div class="capture_right" style="float: none !important; padding-bottom: 10px;">
                                {* createAccountButton *}
                            </div>
                            <div style="padding: 0px 5px;">
                                <a href="javascript:void(0)" onclick="janrain.capture.ui.renderScreen('signIn')" translate="" class="ng-scope">Already have an Account? Sign in here</a>
                            </div>
                        </div>
                        {* /registrationForm *}
                    </div>
                </div>
                <!-- registration screen for user who needs to create a social account -->
                <div style="display:none;" id="socialRegistration">
                    <div class="capture_header">
                        <h1>{* page_signin_socialRegistration_header *}</h1>
                    </div>
                    <h2>{* page_signin_socialRegistration_header2 *}</h2>
                    {* #socialRegistrationForm *}
                    {* registration_country *}
                    {* socialRegistration_emailAddress *}
                    {* termsAndCondition_termsAndConditions *}
                    {* termsAndConditionsVersion *}
                    {* managedByClient *}
                    {* page_signin_socialRegistration_terms_label_1 *} <a href="#">{* page_signin_socialRegistration_terms_link *}</a> {* page_signin_socialRegistration_terms_label_2 *} <a href="#">{* page_signin_socialRegistration_privacy_link *}</a>.
                    <div class="capture_footer">
                        <div class="capture_left">
                            {* backButton *}
                        </div>
                        <div class="capture_right">
                            {* socialRegistration_signInButton *}
                        </div>
                    </div>
                    {* /socialRegistrationForm *}
                </div>
                <!-- screen for merging a new account with an existing account -->
                <div style="display:none;" id="mergeAccounts">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10">
                        {* mergeAccounts *}
                    </div>
                    <div style="display:none;" id="traditionalAuthenticateMerge">
                        <div class="capture_header">
                            <h1>{* page_signin_traditionalAuthenticateMerge_header *}</h1>
                        </div>
                        <div class="capture_signin">
                            {* #tradAuthenticateMergeForm *}
                            {* traditionalSignIn_emailAddress *}
                            {* mergePassword *}
                            <div class="capture_footer">
                                <div class="capture_left">
                                    {* backButton *}
                                </div>
                                <div class="capture_right">
                                    {* traditionalSignIn_signInButton *}
                                </div>
                            </div>
                            {* /tradAuthenticateMergeForm *}
                        </div>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
                <!-- screen for part two of registration -->
                <div style="display:none;" id="registrationStepTwo">
                    <div class="capture_header">
                    </div>
                    <div id="UKReg">
                        <h2 translate="" class="ng-scope">UK Registration Form</h2>
                        <div class="padding-fix">
                            {* #registrationUKForm *}
                            {* registrationUKFields *}
                            <div class="capture_footer">
                                <div class="capture_right">
                                    {* createAccountButton *}
                                </div>
                            </div>
                            {* /registrationUKForm *}
                        </div>
                    </div>
                </div>
                <!-- Screen telling user that they will receive a verification email -->
                <div style="display:none;" id="registrationNewVerification">
                    <div class="capture_header">
                        <h1>{* page_register_verification_header *}</h1>
                    </div>
                    <p style="color: black;">{* page_register_verification_message *}</p>
                    <div class="capture_footer">
                        <a href="javascript:void(0)" onclick="janrain.capture.ui.modal.close()" class="capture_btn capture_primary ng-scope" translate="">Close</a>
                    </div>
                </div>

                <!-- screens for the forgot password workflow -->
                <div style="display:none;" id="forgotPassword">
                    <div class="capture_header">
                        <h1>{* page_signin_forgotPassword_header *}</h1>
                    </div>
                    <h2 style="color: #333;">{* page_signin_forgotPassword_header2 *}</h2>
                    {* #forgotPasswordForm *}
                    {* traditionalSignIn_emailAddress *}
                    <div class="capture_footer">
                        <div class="capture_left">
                            {* backButton *}
                        </div>
                        <div class="capture_right">
                            {* forgotPassword_sendButton *}
                        </div>
                    </div>
                    {* /forgotPasswordForm *}
                </div>
                <div style="display:none;" id="forgotPasswordSuccess">
                    <div class="capture_header">
                        <h1>{* page_signin_forgotPasswordSuccess_header *}</h1>
                    </div>
                    <p style="color:black">{* page_signin_forgotPasswordSuccess_message *}</p>
                    <div class="capture_footer">
                        <a href="javascript:void(0)" data-capturescreen="signIn" class="capture_btn capture_primary">{* page_signin_forgotPasswordSuccess_signin *}</a>
                    </div>
                </div>
                <div style="display:none;" id="resetPasswordRequestCodeSuccess">
                    <div class="capture_header">
                        <h1>{* page_resetPassword_requestCode_success_header *}</h1>
                    </div>
                    <p>{* page_resetPassword_requestCode_success_message *}</p>
                    <div class="capture_footer">
                        <a href="javascript:void(0)" onclick="janrain.capture.ui.modal.close()" class="capture_btn capture_primary">{* page_button_close *}</a>
                    </div>
                </div>
                <div style="display:none;" id="flow-version">Flow version: 20160926172109962983</div>
            </div>
            <div class="col-xs-1"></div>
        </div>
    </div>
</div>*/
