
    <script src="js/janrain-init.js"></script>
    <script type="text/javascript">
        // --- page-specific settings ------------------------------------------
        janrain.settings.capture.flowName = 'lilly_pro_uk';
        janrain.settings.capture.screenToRender = 'verifyEmail';

        // --- define event handlers and start the janrain ui ------------------
        function janrainCaptureWidgetOnLoad() {
            // should be the last line in janrainCaptureWidgetOnLoad()
            janrain.capture.ui.start();
        }
    </script>

    <!-- navigation links -->
    <a href="/" id="captureSignInLink">Sign In / Sign Up</a>

    <!-- Capture widget screens -->
    <div style="display:none;" id="verifyEmail">
        <div class="capture_header">
            <h1>{* page_verifyEmail_header *}</h1>
        </div>
        <p>{* page_verifyEmail_message *}</p>
        {* #resendVerificationForm *}
            {* traditionalSignIn_emailAddress *}
            <div class="capture_footer">
                {* submitButton *}
            </div>
         {* /resendVerificationForm *}
    </div>
    <div style="display:none;" id="resendVerificationSuccess">
        <div class="capture_header">
            <h1>{* page_verifyEmail_resendVerificationSuccess_header *}</h1>
        </div>
        <div class="hr"></div>
        <p>{* page_verifyEmail_resendVerificationSuccess_message *}</p>
        <div class="capture_footer">
            <a href="#" data-capturescreen="signIn" class="capture_btn capture_primary">{* page_verifyEmail_resendVerificationSuccess_signin *}</a>
        </div>
    </div>
    <div style="display:none;" id="verifyEmailSuccess">
        <div class="capture_header">
            <h1>{* page_verifyEmail_verifyEmailSuccess_header *}</h1>
        </div>
        <p>{* page_verifyEmail_verifyEmailSuccess_message *}
        <div class="capture_footer">
            <a href="/" class="capture_btn capture_primary">{* page_verifyEmail_verifyEmailSuccess_signin *}</a>
        </div>
    </div>
    <div style="display:none;" id="emailAlreadyVerified">
        <div class="capture_header">
            <h1>{* page_verifyEmail_emailAlreadyVerified_header *}</h1>
        </div>
        <p>{* page_verifyEmail_emailAlreadyVerified_message *} <a href="/">{* page_verifyEmail_emailAlreadyVerified_signin *}</a>.</p>
    </div>
    <div style="display:none;" id="userStatusPostLogin">
        {* page_access_not_active *}
    </div>
    <div style="display:none;" id="countryPostLogin">
        {* page_access_wrong_country *}
    </div>
    <div style="display:none;" id="professionalGroupPostLogin">
        {* page_access_wrong_group *}
    </div>
